
<div id="developer">
    <div class="row">
        <div class="col col-lg-2 mx-auto">
            <a v-on:click="showCreateModal" data-bs-target="#createDeveloperModal" v-if="isAdmin" class="btn btn-primary">Create Developer</a>
            <a v-on:click="showDevelopers" class="btn btn-outline-info">Show all developers</a>
            <p v-if="hasError">{{errorMessage}}</p>
        </div>
    </div>
    <div v-if="developersVisible" class="row">
        <h5>developers</h5>
        <div class="row">
            <div v-for="developer in developers" class="col col-lg-4 mb-2 text-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{developer.name}}</h5>
                        <h6 class="card-subtitle mb-2">Founded : {{developer.founded}}</h6>
                        <h6 class="card-subtitle mb-2">Created {{developer.amountOfGames}} game(s)</h6>
                        <div class="card-footer text-center">
                            <a v-on:click="showGamesByDeveloper(developer)" href="#" class="btn btn-primary">Show games made by them</a>
                            <a v-on:click="showUpdateModal(developer)" v-if="isAdmin" href="#" class="btn btn-secondary">Update</a>
                            <a v-on:click="showDeleteModal(developer)" v-if="isAdmin" href="#" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="_GamesList" />

    <div class="modal fade" id="createDeveloperModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Create developer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" v-on:click="cancelDeveloperAction" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Developer name :</label>
                    <input class="form-control" placeholder="Developer name here" v-model="newDeveloperModel.name" />
                    <label>Founding date :</label>
                    <input type="date" v-model="newDeveloperModel.creationDate" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="cancelDeveloperAction">Cancel</button>
                    <button type="button" class="btn btn-primary" v-on:click="createDeveloper">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateDeveloperModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">update {{selectedDeveloper.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" v-on:click="cancelDeveloperAction" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Developer name :</label>
                    <input class="form-control" placeholder="update Developer name here" v-model="updateDeveloperModel.name" />
                    <label>Founding date :</label>
                    <input type="date" id="datePicker" v-model="updateDeveloperModel.creationDate" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="cancelDeveloperAction">Cancel</button>
                    <button type="button" class="btn btn-primary" v-on:click="updateDeveloper">Save</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="deleteDeveloperConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete {{selectedDeveloper.name}}?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete {{selectedDeveloper.name}} ? This will delete all games released by this studio.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" v-on:click="deleteDeveloper(selectedDeveloper.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>






    <div v-if="hasError" class="d-flex justify-content-center">
        <span class="sr-only">ERROR</span>
    </div>

    <div v-if="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>

<script src="~/js/developer.js"></script>