
<div id="games">
    <div class="row">
        <div class="col col-lg-2 mx-auto">
            <button v-on:click="showGames" class="btn btn-outline-info">Games</button>
        </div>
    </div>
    <partial name="_GamesList"/>
    <partial name="_ReviewsList"/>

    <div v-if="hasError" class="d-flex justify-content-center">
        <span class="sr-only">ERROR</span>
    </div>

    <div v-if="loading" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>


<script src="~/js/game.js"></script>