@model GamesIndexViewModel

<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="@Model.SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary" asp-action="Search">Search</button>
        </div>
    </div>
</form>

<partial name="_GamesListPartial" model="@Model" />