<h1>Bevestig</h1>
<div class="alert alert-primary" role="alert">
    Bent U zeker?
    <a asp-controller="Games"
       asp-action="Index"
       class="btn btn-success">Nee</a>
    <a asp-controller="Games"
       asp-action="Delete"
       asp-route-id="@ViewBag.Id"
       class="btn btn-danger">Ja</a>
</div>

