
<div id="games">
    <div class="row">
        <div class="col col-lg-2 mx-auto">
            <button v-on:click="showGamesNotOwnedByUser" v-if="userGamesLoaded" class="btn btn-outline-info">Show Games not owned by user</button>
            <button v-on:click="showGamesOwnedByUser" v-if="userGamesLoaded == false" class="btn btn-outline-info">Show Games owned by user</button>
        </div>
    </div>
    <div v-if="gamesVisible" class="row">
        <h5>games</h5>
        <div class="row">
            <div v-for="game in games" class="col col-lg-4 mb-2 text-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{game.name}}</h5>
                        <h6 class="card-subtitle mb-2">{{game.developer.name}}</h6>
                        <h6 class="card-subtitle mb-2" v-if="userGamesLoaded&&game.hasReviewed">Given score : {{game.averageReview}}</h6>
                        <h6 class="card-subtitle mb-2" v-if="userGamesLoaded&&!game.hasReviewed">Yet to review</h6>
                        <h6 class="card-subtitle mb-2" v-if="userGamesLoaded==false && game.amountOfReviews != 0">Average score : {{game.averageReview}}</h6>
                        <span v-for="platform in game.platforms" class="card-text text-muted">|{{platform.name}}|</span>
                        <div class="card-footer text-center">
                            <a v-on:click="addToLibrary(game)" v-if="userGamesLoaded== false" class="btn btn-primary">Add to library</a>
                            <a v-on:click="showReviews(game)" v-if="game.amountOfReviews != 0" href="#" class="btn btn-primary">See all reviews</a>
                            <a v-on:click="showCreateModal(game)" data-bs-target="#createReviewModal" v-if="userGamesLoaded && !game.hasReviewed" class="btn btn-primary">Write review</a>
                            <a v-on:click="showUpdateModal(game)" data-bs-target="#updateReviewModal" v-if="userGamesLoaded && game.hasReviewed" class="btn btn-primary">Update review</a>
                            <a v-on:click="showDeleteModal(game)" data-bs-target="#deleteReviewConfirmModal" v-if="userGamesLoaded && game.hasReviewed" class="btn btn-danger">Delete review</a>
                            <a v-on:click="removeFromLibrary(game)" v-if="userGamesLoaded" class="btn btn-outline-danger">Remove from library</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_reviewsList" />
    <!--Modals-->
    <!--Create review-->
    <div class="modal fade" id="createReviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Write review for {{selectedGame.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" v-on:click="cancelReviewAction" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Choose a score to give to the game</label>
                    <select v-model="newReviewModel.score" class="form-select">
                        <option v-for="score in scores" v-bind:value="score">{{score}}/10</option>
                    </select>
                    <label>Write a review here :</label>
                    <textarea class="form-control" placeholder="Write review here" v-model="newReviewModel.description"></textarea>
                </div>
                <div class="modal-footer">
                    <div v-if="hasError">{{errorMessage}}</div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="cancelReviewAction">Cancel</button>
                    <button type="button" class="btn btn-primary" v-on:click="createReview">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!--Update review-->
    <div class="modal fade" id="updateReviewModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Update review for {{selectedGame.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" v-on:click="cancelReviewAction" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label>Choose a score to give to the game</label>
                    <select v-model="updateReviewModel.score" class="form-select">
                        <option v-for="score in scores" v-bind:value="score">{{score}}/10</option>
                    </select>
                    <label>Write a review here :</label>
                    <textarea class="form-control" placeholder="Write review here" v-model="updateReviewModel.description"></textarea>
                </div>
                <div class="modal-footer">
                    <div v-if="hasError">{{errorMessage}}</div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="cancelReviewAction">Cancel</button>
                    <button type="button" class="btn btn-primary" v-on:click="updateReview">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete category confirm -->
    <div class="modal fade" id="deleteReviewConfirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete review for {{selectedGame.name}}?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete your review for {{selectedGame.name}} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" v-on:click="deleteReview(selectedReviewId)">Delete</button>
                </div>
            </div>
        </div>
    </div>





</div>

<script src="~/js/gameLibrary.js"></script>
