
<div id="games">
    <div class="row">
        <div class="col col-lg-2 mx-auto">
            <button v-on:click="showGamesNotOwnedByUser" v-if="userGamesLoaded" class="btn btn-outline-info">Show Games not owned by user</button>
            <button v-on:click="showGamesOwnedByUser" v-if="userGamesLoaded == false" class="btn btn-outline-info">Show Games owned by user</button>
        </div>
    </div>
    <div v-if="gamesVisible" class="row">
        <h5>games</h5>
        <div class="row">
            <div v-for="game in games" class="col col-lg-4 mb-2 text-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{game.name}}</h5>
                        <h6 class="card-subtitle mb-2">{{game.developer.name}}</h6>
                        <h6 class="card-subtitle mb-2" v-if="userGamesLoaded">Given score : {{game.averageReview}}</h6>
                        <h6 class="card-subtitle mb-2" v-if="userGamesLoaded==false && game.amountOfReviews != 0">Average score : {{game.averageReview}}</h6>
                        <span v-for="platform in game.platforms" class="card-text text-muted">{{platform.name}} </span>
                        <div class="card-footer text-center">
                            <a v-on:click="showReviews(game)" href="#" class="btn btn-primary">See all reviews</a>
                            <a v-on:click="removeFromLibrary(game)" v-if="userGamesLoaded" class="btn btn-danger">Remove from library</a>
                            <a v-on:click="addToLibrary(game)" v-if="userGamesLoaded== false" class="btn btn-primary">Add to library</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/gameLibrary.js"></script>
