<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pri.Gamelibrary.Vue.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pri.Gamelibrary.Vue.Web.styles.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/axios/axios.js"></script>
    <script src="~/vue/vue.js"></script>
    <script src="~/lib/jwt-decode/build/jwt-decode.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Pri.Gamelibrary.Vue.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Developers" asp-action="Index">Developer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Platforms" asp-action="Index">Platform</a>
                        </li>
                        <li class="nav-item" v-if="loggedIn">
                            <a class="nav-link text-dark" asp-area="" asp-controller="GameLibrary" asp-action="Index">GameLibrary</a>
                        </li>
                    </ul>
                    <div id="loginForm" class="d-flex flex-column">
                        <form v-on:submit.prevent="submitLogin" v-if="loggedIn == false" class="d-flex" role="login">
                            <input v-model="loginModel.email" class="form-control me-2" type="email" placeholder="e-mail" aria-label="E-mail">
                            <input v-model="loginModel.password" class="form-control me-2" type="password" placeholder="password" aria-label="Password">
                            <button v-on:click="submitLogin" class="btn btn-outline-primary" type="submit">Login</button>
                            <a v-on:click="AskForRegister" class="btn btn-outline-primary">Register</a>
                        </form>
                        <div v-if="hasError" class="alert alert-danger p-2 my-2">{{errorMessage}}</div>
                        <div v-if="loggedIn" class="d-inline-flex">
                            <div class="me-2">
                                <p class="d-inline">Welkom {{userName}}</p>
                            </div>
                            <button v-on:click="submitLogout" class="btn btn-danger align-self-center" type="submit">Logout</button>
                        </div>

                        
                    </div>
                    <div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Register</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" v-on:click="cancelAction" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label>email</label>
                                    <input v-model="registerModel.email" class="form-control me-2" type="email" placeholder="e-mail" aria-label="E-mail">
                                    <label>password :</label>
                                    <input v-model="registerModel.password" class="form-control me-2" type="password" placeholder="password" aria-label="Password">
                                    <label>username :</label>
                                    <input v-model="registerModel.userName" class="form-control me-2" placeholder="user name" aria-label="E-mail">
                                    <label>birthday :</label>
                                    <input type="date" id="datePicker" v-model="registerModel.birthday" />
                                    <label>Do you approve of Terms and Conditions ?</label>
                                    <input type="checkbox" v-model="registerModel.hasApproved" />
                                </div>
                                <div class="modal-footer">
                                    <div v-if="registerError">{{registerErrorInfo}}</div>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="cancelAction">Cancel</button>
                                    <button type="button" class="btn btn-primary" v-on:click="submitRegister">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    

    <div class="container">
        <main role="main" class="pb-3">
            
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - gameLibrary<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/axios/axios.js"></script>
    <script src="~/vue/vue.js"></script>
    <script src="~/js/navbarVue.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
